body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:  #a2dac4;
}

.container {
    background-color: #c9c5c5;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type=text]:focus,
input[type=email]:focus {
  outline: none;
  border: 2px solid #04AA6D;
}

button {
    padding: 10px 20px;
    background-color: #d9534f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #c9302c;
}